<div class="formformat">


  <%= form_for(@agents, :html => {:multipart => true}) do |f|  %>
  <div class="row justify-content-md-center form-group ">
    <div class="col-5">

      <div class="row form-label">
        <%= f.label :name, "Name: " %>
        <%= f.text_field :name, :required => true, :class =>'form-control' %>
      </div>

      <div class="row form-label">
        <%= f.label :surname, "Surname: " %>
        <%= f.text_field :surname, :required => true, :class =>'form-control' %>
      </div>

      <div class="row form-label">
        <%= f.label :mobile, "Mobile: " %>
        <%= f.text_field :mobile, :class =>'form-control' %>
      </div>


      <div class="row form-label">
        <%= f.label :phone, "Phone: " %>
        <%= f.text_field :phone, :class =>'form-control' %>
      </div>


      <div class="row form-label">
        <%= f.label :email, "Email: " %>
        <%= f.text_field :email, :required => true, :class =>'form-control' %>
      </div>


      <div class="row form-label">
        <%= f.label :image, "Profile Photo: " %>
        <%= f.file_field :image %>
      </div>


      <div class="row mt-5">
        <%= f.submit "Send", :class => "btn btn-primary "%>

      </div>
    </div>
  </div>
  <% end %>


</div>
